<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zealsinger.user.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zealsinger.user.domain.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="zealsinger_book_id" jdbcType="VARCHAR" property="zealsingerBookId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="background_img" jdbcType="VARCHAR" property="backgroundImg" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, zealsinger_book_id, `password`, nickname, avatar, birthday, background_img, phone, 
    sex, `status`, introduction, create_time, update_time, is_deleted
  </sql>

  <select id="selectByPhone" resultMap="BaseResultMap">
    select id, password from t_user where phone = #{phone}
  </select>
</mapper>