<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zealsinger.note.mapper.ChannelTopicRelMapper">
  <resultMap id="BaseResultMap" type="com.zealsinger.note.domain.entity.ChannelTopicRel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="channel_id" jdbcType="BIGINT" property="channelId" />
    <result column="topic_id" jdbcType="BIGINT" property="topicId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, channel_id, topic_id, create_time, update_time
  </sql>

</mapper>